#hitDataForm {
    margin-top: 24px;
}
#hitDataForm > label {
    display: block;
    margin-top: 12px;
}
#hitDataForm > input {
    margin-bottom: 4px;
}

#hitDataForm button[type=submit] {
    margin-top: 12px;
}

#area {
    width: 400px;
    height: 400px;
}

.hidden {
    display: none;
}